VITE_API_BASE=https://<api-id>.execute-api.<region>.amazonaws.com
VITE_REALTIME_ENDPOINT=https://<appsync-id>.appsync-api.<region>.amazonaws.com/event
VITE_REALTIME_WS_ENDPOINT=wss://<appsync-id>.appsync-realtime-api.<region>.amazonaws.com/event/realtime
VITE_REALTIME_API_KEY=<api-key-from-stack-outputs>
